<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title = "_AdminLayout"</title>
    @Styles.Render("~/Content/Css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/dashboard.css")
  

    @section Scripts {
       

        @Scripts.Render("~/bundles/jqueryval")
   
        @Styles.Render("~/Content/jquery.dataTables.css")
  
   
        <script type="text/javascript">
        $(document).ready(function () {
            $('#vaccine').DataTable();
        });</script>

    }


</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                @Html.ActionLink("UofL Vaccine and Travel", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                
            
                   
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>


    <div class="container-fluid">
       
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-tabs">
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                           Calendar
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Calendar", "Appointments", "Calendars")</li>
                                <li>@Html.ActionLink("Appointment Requests", "Index","Calendars")</li>
                                <li>@Html.ActionLink("Patient Logins", "Index", "Users")</li>
                        </ul>
                    </li>
                    
                </ul>
                <ul class="nav nav-sidebar">
                    
                    <li>@Html.ActionLink("Vaccines", "Index", "Vaccines")</li>
                    <li>@Html.ActionLink("Grants", "About", "Home")</li>
                    <li><a href="" class="">Refugees</a></li>
               </ul>
                
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="row placeholder">
                    @RenderBody()
                </div>
            </div>
 
</div>
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
 
</body>
</html>